<div class="center container-narrow">
  <h3>Sign up</h3>
  <h3>Just give us a username and password and you'll be redirected to begin voting on stories. No email no hassle.</h3>
</div><br />
<div class="box">
</br>
	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

	<%= f.input :name, :placeholder => 'Username', :autofocus => true, :input_html => {:style => 'width: 70%;'} %></br>
	<%= f.input :password, :placeholder => 'Password', :input_html => {:style => 'width: 70%'} %></br>
	  <div class="center" style="margin-top: 15px; margin-bottom: 50px;">
        <%= f.submit "Sign up", class: "btn" %>
      </div>
	<% end %>
</div>
<%= render "devise/shared/links" %>