<div class="stories">
<% @stories.each do |story| %>
  <div class="box">
    <p>Posted By <strong><%= story.user.name %></strong> <%= time_ago_in_words(story.created_at) %> ago.</p>
    <p><%= simple_format h story.content %></p>
    <div id="fb-mobile" class="fb-like" data-href="http://continder.com/stories/<%= story.id %>" data-width="225" data-layout="button_count" data-show-faces="false" data-send="false">
    </div>
    <% if signed_in? %>
    <%= link_to '<img src="/assets/x-mark-128.png">'.html_safe, vote_story_path(story, type: "down"), :method => :post %>
    <% else %>
    <%= link_to '<img src="/assets/x-mark-128.png">'.html_safe, new_user_registration_path %>
    <% end %>
    <% if admin? || current_user == story.user %>
      <%= link_to 'Edit', edit_story_path(story) %> |
      <%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <% if signed_in? %>
    <%= link_to '<img src="/assets/hearts-128.png">'.html_safe, vote_story_path(story, type: "up"), :method => :post %>
    <% else %>
    <%= link_to '<img src="/assets/hearts-128.png">'.html_safe, new_user_registration_path %>
    <% end %>
    <a id="tw-mobile" href="https://twitter.com/share" class="twitter-share-button" data-url="http://continder.com/stories/<%= story.id %>" data-text="<%= story.content %>">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>
    <p><%= link_to 'Show Comments', story %></p>
    <p><%= pluralize story.reputation_for(:votes).to_i, "point" %></p>
  </div>
<% end %>
</div>