<% provide(:descr, 'Contend for the top spot!') %>
<div class="center container-narrow">
  <h1>The Continders</h1>
  <div>
    <h2>Tell us your best Tinder date story and <strong>contend</strong> for the top spot.</h2>
    <% if signed_in? %>
    <div style="margin: 20px 0 27px;">
    <%= link_to '<button class="btn">Become a Continder!</button>'.html_safe, new_story_path %>
    </div>
    <% else %>
    <h2><%= link_to "Login to create your continder and start voting!", "/auth/facebook", id: "sign_in" %></h2>
    <% end %>
    <div class="boxy">
    <ul>
      <li style="margin-right: 200px;"><%= link_to '<button class="btn left">Top Continders</button>'.html_safe, root_path %></li>
      <li style="margin-left: 10px;"><%= link_to '<button class="btn right" style="width: 179px">Most Recent</button>'.html_safe, recent_path %></li>
    </ul>
    </div> 
  </div>
  <%= render 'shared/stories' %>
</div>
