<% provide(:descr, @story.content) %>
<div class="box">
  <p id="notice"><%= notice %></p>
  <p>
    <%= simple_format h @story.content %>
  </p>
  <p>
    by <strong><%= @story.user.name %></strong>
  </p>
  <% if signed_in? %>
  <div class="container-narrower">
    <%= link_to '', vote_story_path(@story, type: "down"), :class => "hate", :method => :post %>
    <%= link_to '', vote_story_path(@story, type: "up"), :class => "like", :method => :post %>
  </div>
  <% else %>
  <div class="container-narrower">
    <%= link_to '', new_user_registration_path, :class => "hate" %>
    <%= link_to '', new_user_registration_path, :class => "like" %>
  </div>
  <% end %>
  <div>
    <div id="fb-mobile-show" class="fb-like" data-href="http://continder.com/stories/<%= @story.id %>" data-width="225" data-layout="button_count" data-show-faces="false" data-send="false">
    </div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://continder.com/stories/<%= @story.id %>" data-text="<%= @story.content %>">Tweet</a>
  </div>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>
  <p><%= pluralize @story.reputation_for(:votes).to_i, "point" %></p>
  <div class="fb-comments"data-href="http://continder.com/stories/<%= @story.id %>" data-num-posts="2" mobile="false"></div>
  <style>.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width: 100% !important;}
  .fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {width: 100% !important;}
</style>
</div>
<%= link_to 'Back', root_path %> 
<% if current_user == @story.user %>
  | <%= link_to 'Edit', edit_story_path(@story) %> |
  <%= link_to 'Destroy', @story, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
