<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
             <a class="brand" href="/">Continder!</a>

                <div class="nav-collapse">
                    <ul class="nav">
                        <li>
                            <%= link_to 'About', about_path %>
                        <li>    
                            <%= link_to 'Contact', 'mailto:contindermail@gmail.com', target: "_blank" %>
                        </li>
                    </ul>
                    <ul class="nav">
                        <li id="m-left">
                            <div style="height: 57px; padding-top: 3px;" class="fb-like" data-href="http://continder.com" data-width="225" data-show-faces="true" data-send="false">
                            </div>
                        </li>
                        <li style="padding-top: 20px;">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://continder.com" data-text="Check this site out!">Tweet</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                            </script>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <% if current_user %>
                            <li style="padding: 22px 15px 10px; display: block">Hey <strong><%= current_user.name %></strong>!</li>
                            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                        <% else %>
                            <li><%= link_to "Log in", new_user_session_path, style: "padding: 22px 12px 10px", id: "sign_in" %></li>
                        <% end %>
                    </ul>
                </div>
        </div>
    </div>
</div>