<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <title>Continder</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu|Adamina' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
    <meta name="description" content="Continder is a place to share your best Tinder date stories and contend for the top spot!">
    <meta property="fb:app_id" content="158506181011684">
    <meta property="og:title" content="Continder">
    <meta property="og:type" content="website">
    <meta property="og:description" content="<%= yield(:descr) %>">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:site_name" content="Continder.com">
    <meta property="og:image" content="http://i.imgur.com/Jz5Qu04.png">
  </head>
  <body>
    <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=158506181011684";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>
    <div id="wrap">
      <%= render 'layouts/header' %>
      <div class="container">
        <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>
        <%= yield %>
      </div>
      <div id="push"></div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
